@if(User.Identity.IsAuthenticated)
{
    @*<p>@User.Identity.Name</p>*@
    <a asp-area="" asp-controller="Account" asp-action="Logout">登出</a>
    <a href="#home">出租房源</a>
}
else
{
    <a href="/Account/Register">註冊</a>
    <a asp-area="" asp-controller="Account" asp-action="Login">登入</a>
    <a href="#home">出租房源</a>
}


