@using Microsoft.AspNetCore.Identity
@*@model MVCModels.DataModels.User*@
@if(User.Identity.IsAuthenticated)
@*@if(SignInManager<TUser>.IsSignedIn(User))*@
{
 
    <p style="color:grey;">您好! @User.Identity.Name</p>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn register-btn">
            <i class="fas fa-bars" style="font-size: 20px;"></i>
            <i class="fas fa-user-circle" style="font-size: 30px;"></i>
        </button>
        <div id="myDropdown" class="dropdown-content">
                @*<p>@User.Identity.Name</p>*@
            <a asp-area="" asp-controller="Account" asp-action="Logout">登出</a>
            <a href="#home">出租房源</a>
            <a href="~/Account_settings/Index">帳戶</a>
        </div>
    </div>

}
else
{
    
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn register-btn">
            <i class="fas fa-bars" style="font-size: 20px;"></i>
            <i class="fas fa-user-circle" style="font-size: 30px;"></i>
        </button>
        <div id="myDropdown" class="dropdown-content">
                @*<p>@User.Identity.Name</p>*@
            <a href="/Account/Register">註冊</a>
            <a asp-area="" asp-controller="Account" asp-action="Login">登入</a>
            <a href="#home">出租房源</a>
        </div>
    </div>
            
    
}


