 <div class="container mt-5">
        <div class="row m-auto">
            <nav style="--bs-breadcrumb-divider: '>'; margin-bottom: 50px;" aria-label="breadcrumb">
                <ol class="breadcrumb fw-bold">
                    <li class="breadcrumb-item"><a href="./Account_Page.html">賬號</a></li>
                    <li class="breadcrumb-item active" aria-current="page">全球偏好設定</li>
                </ol>
            </nav>
            <div class="content d-flex flex-wrap justify-content-center">
                <div class="data w-50">
                    <div class="language border-bottom mb-4 pb-4">
                        <div class="d-flex align-items-center justify-content-between w-100 mb-4">
                            <div class="info">
                                <h2 class="fs-5">偏好語言</h2>
                                <span class="fs-6">中文 (繁體)</span>
                            </div>
                            <div class="edit">
                                <button class="btn btn-link"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    編輯
                                </button>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <div class="mb-3">
                                這會更新您在 Airbnb 上看到的內容，以及我們與您的溝通方式。
                            </div>
                            <select class="form-select mb-5" aria-label="Default select example">
                                <option selected>選擇</option>
                                <option value="1">中文（繁体）</option>
                                <option value="2">英文</option>
                                <option value="3">馬來文</option>
                            </select>
                            <button type="button" class="btn save">儲存</button>
                        </div>
                    </div>
                    <div class="currency border-bottom mb-4 pb-4">
                        <div class="d-flex align-items-center justify-content-between w-100  mb-4">
                            <div class="info">
                                <h2 class="fs-5">偏好幣別</h2>
                                <span>新台幣</span>
                            </div>
                            <div class="edit">
                                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#currency" aria-expanded="false" aria-controls="collapseExample">
                                    編輯
                                </button>
                            </div>
                        </div>
                        <div class="collapse" id="currency">
                            <select class="form-select mb-5" aria-label="Default select example">
                                <option selected>選擇</option>
                                <option value="1">新台幣</option>
                                <option value="2">美金</option>
                                <option value="3">馬幣</option>
                            </select>
                            <button type="button" class="btn save">儲存</button>
                        </div>
                    </div>
                    <div class="GMT border-bottom mb-4 pb-4">
                        <div class="d-flex align-items-center justify-content-between w-100 mb-4">
                            <div class="info">
                                <h2 class="fs-5">時區</h2>
                                <span class="fs-6"></span>
                            </div>
                            <div class="edit">
                                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#GMT" aria-expanded="false" aria-controls="collapseExample">
                                    編輯
                                </button>
                            </div>
                        </div>
                        <div class="collapse" id="GMT">
                            <select class="form-select mb-5" aria-label="Default select example">
                                <option selected>選擇</option>
                                <option value="1">(GMT+08:00)Asia/Taipei</option>
                                <option value="2">(GMT-06:00)America/New_York</option>
                                <option value="3">(GMT+08:00)KualaLumpur</option>
                            </select>
                            <button type="button" class="btn save">儲存</button>
                        </div>

                    </div>
                    
                </div>
                <div class="information  d-none d-md-block p-4 fs-1 border m-auto" style="width: 400px;">
                    <i class="fa-solid fa-sliders mb-3 fs-2"></i>
                    <h3 class="fs-5 fw-bold">全球偏好設定</h3>
                    <p class="fs-6 text-secondary ">更改幣別後會顯示新的價格。 你可以在「付款與收款」的偏好中變更收款方式。</p>
                </div>
            </div>
        </div>

    </div>



