<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb fw-bold">
                <li class="breadcrumb-item"><a href="./Account_Page.html">賬號</a></li>
                <li class="breadcrumb-item active" aria-current="page">通知</li>
            </ol>
        </nav>
        <h1 class="fs-3 fw-bold mt-4">通知</h1>
            <div class="tab mt-5">
                <button class="tablinks" onclick="openCity(event, 'Offers and updates')">優惠和最新消息</button>
                <button class="tablinks" onclick="openCity(event, 'Account')">帳號</button>
            </div>
            <div id="Offers and updates" class="tabcontent"> 
                <div class="topic border-bottom">
                    <h3>出租的深入分析與獎勵</h3>
                    <p class="mb-4">了解出租的最佳做法，享受獨家的優惠</p>
                    <div class="box">
                        <h4>認可與成就</h4>
                        <p>啟用：電子郵件和簡訊</p>
                        <button type="button" class="btn btn-link">编辑</button>
                    </div>
                    <div class="box">
                        <h4>深入分析和建議</h4>
                        <p>啟用:電子郵件和簡訊S</p>
                        <button type="button" class="btn btn-link">編輯</button>
                    </div>
                    <div class="box">
                        <h4>價格趨勢和建議</h4>
                        <p>啟用：電子郵件和簡訊</p>
                        <button type="button" class="btn btn-link">編輯</button>
                    </div>
                    <div class="box">
                        <h4>出租的福利</h4>
                        <p>啟用：電子郵件和簡訊</p>
                        <button type="button" class="btn btn-link">編輯</button>
                    </div>
                </div>
                <div class="topic border-bottom">
                    <h3>房東新訊</h3>
                    <p class="mb-4">新聞和最新消息</p>
                    <div class="box">
                        <h4>認可與成就</h4>
                        <p>啟用：電子郵件和簡訊</p>
                        <button type="button" class="btn btn-link">编辑</button>
                    </div>
                    <div class="box">
                        <h4>當地法律與法規</h4>
                        <p>啟用:電子郵件和簡訊S</p>
                        <button type="button" class="btn btn-link">編輯</button>
                    </div>
                </div>
            </div>

        <div id="Account" class="tabcontent">
            <h3>出租的深入分析與獎勵</h3>
            <span>了解出租的最佳做法，享受獨家的優惠</span>
            <p></p>
        </div>
    </div>

    
    