@*@model MVCModels.DataModels.User*@
@*@Html.AntiForgeryToken()*@
@using Front.Models.ViewModels
<div class="container mt-5">
        <div class="row m-auto">
              <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb fw-bold">
                    <li class="breadcrumb-item "><a href="./Account_Page.html">賬號</a></li>
                    <li class="breadcrumb-item active" aria-current="page">個人資料</li>
                </ol>
            </nav>
            <h1>個人資料</h1>
            <div class="content d-flex flex-wrap justify-content-center">
                <div class="data">
                    <div class=" border-bottom mb-4 pb-4">
                        <div class="d-flex align-items-center justify-content-between w-100 ">
                            <div class="info">
                                <h2 class="fs-5">法定名稱</h2>
                                <p class="fs-6" id="name">@Model.FirstName @Model.LastName</p>
                            </div>
                            <div class="edit">
                                <button class="btn btn-link text-dark" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#btnname" aria-expanded="false" aria-controls="btnname">
                                    編輯
                                </button>
                            </div>
                        </div>

                        <div class="collapse" id="btnname">
                            <form class="mb-3" method="post" action="~/Account_settings/PersonalInformation">
                                <div class="row mb-3">
                                    <div class="col">
                                          @*@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", name="FirstName"} })*@
                                        <input type="text" class="form-control" name="FirstName" placeholder="First name" id="FirstName" value="@Model?.FirstName" />
                                    </div>
                                    <div class="col">
                                         @*@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" , name="LastName"} })*@
                                         <input type="text" class="form-control" name="LastName" placeholder="Last name" id="LastName" value="@Model?.LastName" />
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-dark" id="btn_name" data-bs-toggle="collapse" data-bs-target="#btnname">儲存</button>
                            </form>
                        </div>
                    </div>

                    <div class=" border-bottom mb-4 pb-4">
                        <div class="d-flex align-items-center justify-content-between w-100 mb-3">
                            <div class="info">
                                <h2 class="fs-5">性別</h2>
                                <span id="gender">@Model.Gender</span>
                            </div>
                            <div class="edit">
                                <button class="btn btn-link text-dark" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#btngender" aria-expanded="false" aria-controls="collapseExample"
                                    aria-expanded="false" aria-controls="btngender">
                                    編輯
                                </button>
                            </div>
                        </div>
                        <div class="collapse" id="btngender">
                            <form class="form-group mb-3" method="post" action="~/Account_settings/PersonalInformation">
                                <select class="form-control mb-3" id="selectGender" name="Gender" value="@Model?.Gender">
                                    <option value="" selected>Choose...</option>
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                    <option value="3">其他</option>
                                </select>
                                <button type="submit" class="btn btn-dark" id="btn_gender" data-bs-toggle="collapse" data-bs-target="#btngender">儲存</button>
                            </form>
                        </div>
                        

                    </div>
                    <div class="border-bottom mb-4 pb-4">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <div class="info">
                                <h2 class="fs-5">出生日期</h2>
                                <span class="fs-6" id="DOB"></span>
                            </div>
                            <div class="edit">
                                <button class="btn btn-link text-dark" type="button" data-bs-toggle="collapse"
                                data-bs-target="#btnDOB" aria-expanded="false" aria-controls="collapseExample"
                                aria-expanded="false" aria-controls="btnDOB">
                                    編輯
                                </button>
                            </div>                            
                        </div>
                        <div class="collapse" id="btnDOB">
                            <form class="form-floating mb-3" method="post" action="~/Account_settings/PersonalInformation">
                                <input type="date" class="form-control" id="selectDOB" value="">
                                <label for="selectDOB">出生日期</label>
                            </form>
                            <button type="button" class="btn btn-dark" id="btn_DOB" data-bs-toggle="collapse" data-bs-target="#btnDOB">儲存</button>
                        </div>
                        
                        
                    </div>
                    <div class="border-bottom mb-4 pb-4">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <div class="info">
                                <h2 class="fs-5">電子郵件</h2>
                                <span class="fs-6" id="email">@Model.Email</span>
                            </div>
                            <div class="edit">
                                <button class="btn btn-link text-dark" type="button" data-bs-toggle="collapse"
                                data-bs-target="#btnEmail" aria-expanded="false" aria-controls="collapseExample"
                                aria-expanded="false" aria-controls="btnEmail">
                                    編輯
                                </button>
                            </div>
                        </div>
                        <div class="collapse" id="btnEmail">
                            <p class="mb-3">使用你隨時可存取的電子郵件地址。</p>
                            <form class="form-floating mb-3" method="post" action="~/Account_settings/PersonalInformation">
                                <input type="emailAddress" class="form-control" id="emailAddress" placeholder="name@example.com" value="">
                                <label for="floatingInput">Email address</label>
                            </form>
                            <button type="button" class="btn btn-dark" id="btn_Email" data-bs-toggle="collapse" data-bs-target="#btnEmail">儲存</button>
                        </div>
                        
                    </div>
                    <div class="border-bottom mb-4 pb-4">
                        <div class="d-flex align-items-center justify-content-between w-100 mb-3">
                            <div class="info w-75">
                                <h2 class="fs-5">電話號碼</h2>
                                <div class="fs-6" id="contact"></div>
                                <span>聯絡電話（作為旅客和 Airbnb 與你聯繫的方式）。你可以新增其他號碼並選擇使用方式。</span>
                            </div>
                            <div class="edit">
                                <button class="btn btn-link text-dark" type="button" data-bs-toggle="collapse"
                                data-bs-target="#btnContact" aria-expanded="false" aria-controls="collapseExample"
                                aria-expanded="false" aria-controls="btnContact">
                                    編輯
                                </button>
                            </div>
                        </div>
                        <div class="collapse" id="btnContact">
                            <form class="form-floating" method="post" action="~/Account_settings/PersonalInformation">
                                <select class="form-control" id="countryCode">
                                    <option value="" selected>Choose...</option>
                                    <option value="male">台灣(+886)</option>
                                    <option value="female">馬來西亞</option>
                                    <option value="other">其他</option>
                                </select>
                                <label for="floatingInput">國家/地區</label>                                    
                            </form>
                            <form class="form-floating mb-1">
                                <input onchange="CheckINT()" type="text" class="form-control" id="phoneNumber" placeholder="name@example.com" value="">
                                <label for="floatingInput">電話號碼</label>
                            </form>
                            <p class="mb-3">我們會傳送驗證碼，以驗證你的號碼。可能會產生一般簡訊和數據傳輸費用。</p>
                            <button type="button" class="btn btn-dark" id="btn_Contact" data-bs-toggle="collapse" data-bs-target="#btnContact">儲存</button>
                        </div>
                        
                    </div>
                    <div class="d-flex align-items-center justify-content-between w-100 border-bottom mb-4 pb-4">
                        <div class="info">
                            <h2 class="fs-5">政府核發的身份證</h2>
                            <span class="fs-6">未提供</span>
                        </div>
                        <div class="edit">
                            <button class="btn btn-link text-dark">
                                新增
                            </button>
                        </div>
                    </div>
                    <div class="border-bottom mb-4 pb-4">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <div class="info">
                                <h2 class="fs-5">地址</h2>
                                <span class="fs-6">未提供</span>
                            </div>
                            <div class="edit">
                                <button class="btn btn-link text-dark" type="button" data-bs-toggle="collapse"
                                data-bs-target="#btnAddress" aria-expanded="false" aria-controls="collapseExample"
                                aria-expanded="false" aria-controls="btnAddress">
                                    編輯
                                </button>
                            </div>
                        </div>
                        <div class="collapse" id="btnAddress">
                            <form class="form-floating w-50 mb-2">
                                    <select id="address" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                <label for="floatingInput">State</label>
                            </form>
                            <form class="form-floating mb-1">
                                <input type="emailAddress" class="form-control" id="emailAddress" placeholder="name@example.com" value="">
                                <label for="floatingInput">街道地址</label>
                            </form>
                        </div>
                        
                    </div>
                    <div class="d-flex align-items-center justify-content-between w-100 border-bottom mb-4 pb-4">
                        <div class="info">
                            <h2 class="fs-5">緊急聯絡人</h2>
                            <span class="fs-6">未提供</span>
                        </div>
                        <div class="edit">
                            <button class="btn btn-link text-dark">
                                新增
                            </button>
                        </div>
                    </div>
                    
                </div>
                <div class="information d-none d-md-block m-auto p-4 fs-1 border ml-2">
                    <i class="fa-solid fa-bag-shopping text-danger"></i>
                    <h3 class="fs-5">哪些詳細資訊可以編輯？</h3>
                    <p class="fs-6 text-secondary border-bottom p-2">Airbnb
                        用於驗證你身分的詳細資訊無法更改。你可以編輯聯絡資訊和部分個人資料，但我們可能會在你下次預訂或建立房源／體驗時要求你驗證身分。</p>
                    <i class="fa-solid fa-eye text-danger"></i>
                    <h3 class="fs-5">哪些資訊會提供給其他人？</h3>
                    <p class="fs-6 text-secondary p-2">只有在預訂確認後,Airbnb 才會提供聯絡資訊給房東、體驗達人和旅客。</p>
                </div>
            </div>
        </div>

    </div>

@section topCSS{
   <style>
       .container
       {
           width:1000px;
       }
       .data
       {
           width:55%;
       }
       .information
       {
           width:32%
       }
       a{
           color:black;
       }
       h1{
           font-size:23px;
           font-weight: bold;
           margin-bottom: 70px;

       }
       .btn {
            font-weight: bold;

        }

        .nav {
            margin-left: 10px;
        }

       /* media only screen and (max-width: 768px) {
            .data {
                width: 100% !important;
            }
        }*/
   </style>
}

@section endJS
{
    <script src="https://kit.fontawesome.com/e744a5dda8.js" crossorigin="anonymous"></script>
    <script>
        const btn_name = document.querySelector('#btn_name')
        const name = document.querySelector('#name')
        const firstname = document.querySelector('#FirstName')
        const lastname = document.querySelector('#LastName')

        btn_name.onclick = () =>
        {
           name.innerText = firstname.value + lastname.value
        }

        const btn_gender = document.querySelector('#btn_gender')
        const gender = document.querySelector('#gender')
        const selectGender = document.querySelector('#selectGender')

        btn_gender.onclick = () =>
        {
            if(selectGender.value == '')
            gender.innerText = '未指定'
            else
            gender.innerText = selectGender.Text
            
        }

        const btn_DOB = document.querySelector('#btn_DOB')
        const DOB = document.querySelector('#DOB')
        const selectDOB = document.querySelector('#selectDOB')
        
        btn_DOB.onclick = () => 
        {
            DOB.innerText = selectDOB.value
        }
        
        const btn_email = document.querySelector('#btn_Email')
        const email = document.querySelector('#email')
        const emailAdress = document.querySelector('#emailAddress')

        btn_email.onclick = () =>
        {
            email.innerText = emailAdress.value
        }

        const btn_Contact = document.querySelector('#btn_Contact')
        const contact = document.querySelector('#contact')
        const phoneNumber = document.querySelector('#phoneNumber')

        btn_Contact.onclick = () =>
        {
            contact.innerText = phoneNumber.value
        }

        function CheckINT()
        {
            if (isNaN(phoneNumber.value)) {
                alert("Must input numbers");
                return false;
            }
        }
    </script>
}