


<body>
    <div class="container m-auto mt-5">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb fw-bold">
                <li class="breadcrumb-item"><a href="./Account_Page.html">賬號</a></li>
                <li class="breadcrumb-item active" aria-current="page">專業出租工具</li>
            </ol>
        </nav>
        <div class="title mb-5 w-75">
            <h1 class="fs-4 fw-bold">專業出租工具</h1>
        </div>
        <div class="company d-flex border-bottom pb-4 w-75">
            <div class="content w-75">
                <h3 class="fw-bold fs-6">
                    公司
                </h3>
                <p>
                    編輯公司資料及管理大批房源
                </p>
            </div>
            <div class="button">
                <button type="button" class="btn btn-link text-black fw-bold">管理</button>
            </div>
        </div>
        <div class="policy mt-4 d-flex">
            <div class="content">
                <h3 class="fs-6 fw-bold">
                    允許我使用電子郵件別名聯絡房客
                </h3>
                <p>
                    本人保證僅會以下述原因，使用電子郵件別名：
                </p>
                <ul>
                    <li>本人須以附件形式傳送當地法律要求的文件</li>
                    <li>本人須以附件形式傳送租賃協議</li>
                    <li>本人須以附件形式傳送入住指南</li>
                    <li>本人使用與 Airbnb 相連的軟體，該軟體未整合 Airbnb 的訊息功能</li>
                </ul>
                <p>本人理解，本人使用電子郵件別名受 Airbnb<a href="#" class="fw-bolder">《站外政策》</a> 的約束。</p>
            </div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>

        </div>



    </div>
   


</body>

</html>
