@model Front.Models.ViewModels.Account.LoginVM
@if(ViewData["message"] != null)
{
    <script>alert( "@Html.Raw(@ViewData["message"] )" );</script>
}
<form method="post">
    <div class="content">
        <div class="box w-50 m-auto border border-secondary rounded">
            <div class="title p-3 text-center border-bottom fw-bold">       
                登入
            </div>
            <div class="content m-5">
                <h1>Airbnb 歡迎你</h1>
                <label class="form-floating w-100" id="Email"asp-for="Email">
                    <input name="Email" type="text" class="form-control" id="floatingInputValue" placeholder="Email" asp-for="Email">
                    <label for="floatingInputValue">電子郵件</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </label>
                <label class="form-floating w-100" id="Password" asp-for="Password">
                    <input name="Password" type="password" class="form-control" id="floatingInputValue" placeholder="Password" asp-for="Password">
                    <label for="floatingInputValue">密码</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </label>
                <span><a href="#">私隱政策</a></span>
                <button class="btn w-100 text-light mt-3 mb-3 fw-bold continue" type="submit">繼續</button>
                
                
            </div>
        </div>
    </div>
</form>


    @section Scripts
    {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
