
<div class="container">
    <form action="">

        <div class="row">
            <div class="house">
                <div class="house-img">
                    <div class="gallery">
                        <div class="gallery-img-1"><img src="~/images/house-1.png"></div>
                        <div><img src="~/images/house-2.png"></div>
                        <div><img src="~/images/house-3.png"></div>
                        <div><img src="~/images/house-4.png"></div>
                        <div><img src="~/images/house-5.png"></div>
                    </div>
                </div>
                <div class="house-info">
                    <p>陽印成他老家</p>
                    <a href="house.html">
                        <h3>單人套房內含對外窗</h3>
                    </a>
                    <p>1 床 / 1 廁所 / Wifi / 廚房</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <div class="house-price">
                        <p>2 人</p>
                        <h4>$ 100 <span>/ 天</span></h4>
                    </div>
                </div>
            </div>
            <div class="col">

                <div class="myTrip">
                    <div class="title">
                        <h3>你的旅程 :　</h3>
                        <div class="paymentinfo">
                            <h4>日期 :</h4>
                            <p>7月6日至13日</p>
                            <h4>房客人數 :</h4>
                            <p>一位房客 </p>
                            <h4>價格詳情 :</h4>
                            <p>$100.00 x 7晚
                                $700.00</p>
                            <h4>服務費 :</h4>
                            <p>$60.00</p>
                            <h4>總價 (TWD) :</h4>
                            <p>$760.00</p>
                        </div>
                    </div>
                </div>
                <div class="payment">
                    <div class="billing-address">
                        <h3 class="title">billing address</h3>

                        <div class="inputBox">
                            <span>full name :</span>
                            <input type="text" placeholder="James Wei">
                        </div>
                        <div class="inputBox">
                            <span>email :</span>
                            <input type="email" placeholder="example@example.com">
                        </div>
                        <div class="inputBox">
                            <span>address :</span>
                            <input type="text" placeholder="ooxx-oooxxx">
                        </div>
                        <div class="inputBox">
                            <span>city :</span>
                            <input type="text" placeholder="Hsinchu">
                        </div>

                        <div class="flex">
                            <div class="inputBox">
                                <span>state :</span>
                                <input type="text" placeholder="TW">
                            </div>
                            <div class="inputBox">
                                <span>zip code :</span>
                                <input type="text" placeholder="98036">
                            </div>
                        </div>
                    </div>

                    <div class="col">

                        <h3 class="title">payment</h3>

                        <div class="inputBox">
                            <span>cards accepted :</span>
                            <img src="images/card_img.png" alt="">
                        </div>
                        <div class="inputBox">
                            <span>name on card :</span>
                            <input type="text" placeholder="MR. Right">
                        </div>
                        <div class="inputBox">
                            <span>credit card number :</span>
                            <input type="number" placeholder="1111-2222-3333-4444">
                        </div>
                        <div class="inputBox">
                            <span>exp month :</span>
                            <input type="text" placeholder="January">
                        </div>

                        <div class="flex">
                            <div class="inputBox">
                                <span>exp year :</span>
                                <input type="number" placeholder="2022">
                            </div>
                            <div class="inputBox">
                                <span>CVV :</span>
                                <input type="text" placeholder="124">
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <a href="house.html" class="goback">上一步 . . .</a>
        <input type="submit" value="proceed to checkout" class="submit-btn">
    </form>
</div>

