<div class="d-flex justify-content-center" id="app">
    <div class="title">
        <h1 class="text-white"><strong>你打算接待幾位房客？</strong></h1>
    </div>
    <div class="right">
        <div class="d-flex">
            <div class="btngroup">
                <a href="~/BecomeHost/Index" class="btn-h"><strong>退出</strong></a>
            </div>
        </div>
        <div class="floor-plan">
            <div class="numpeople">
                <h1 style="font-size: 20px;margin-top: 10px;"><strong>房客人數</strong></h1>
                <div class="number">
                    <button v-on:click="subGuestCount()" class="operationreduce"> - </button>
                    <input type="number" v-model="GuestCount" :min="min" :max="max" class="num"/>
                    <button v-on:click="addGuestCount()" class="operationadd"> + </button>
                </div>
            </div>
            <div class="bednum">
                <h1 style="font-size: 20px;margin-top: 10px;"><strong>床位</strong></h1>
                <div class="number">
                    <button v-on:click="subBed()" class="operationreduce">-</button>
                    <input v-model="Bed" type="number" :min="min" :max="max" class="num">
                    <button v-on:click="addBed()" class="operationadd">+</button>
                </div>
            </div>
            <div class="bedroomnum">
                <h1 style="font-size: 20px;margin-top: 10px;"><strong>臥室</strong></h1>
                <div class="number">
                    <button  v-on:click="subBedRoom()" class="operationreduce">-</button>
                    <input v-model="BedRoom" type="number" :min="min" :max="max" class="num">
                    <button v-on:click="addBedRoom()" class="operationadd">+</button>
                </div>
            </div>
            <div class="bathroomnum">
                <h1 style="font-size: 20px;margin-top: 10px;"><strong>衛浴</strong></h1>
                <div class="number">
                    <button v-on:click="subBath()" class="operationreduce">-</button>
                    <input v-model="Bath" type="number" :min="min" :max="max" class="num">
                    <button v-on:click="addBath()" class="operationadd">+</button>
                </div>
            </div>
@*            <p style="margin:50px 25px 25px 25px; font-size:18px;"><strong>有任何房客專用的浴室嗎？</strong></p>
            <div class="form-check d-flex justify-content-between ps-4 pb-3">
                <div class="text">
                    <label class="form-check-label" for="flexRadioDefault1">
                    有
                </label>
                </div>
                <div class="radio">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                    >
                </div>
                    
            </div>
            <div class="form-check d-flex justify-content-between ps-4 pb-3">
                <div class="text">
                    <label class="form-check-label" for="flexRadioDefault2" >
                    沒有，浴室都是共用的
                </label>
                </div>
                <div class="radio">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                </div>
                    
            </div>*@
        </div>
        <div class="last-bar">
            <a href="~/BecomeHost/location2" class="back"><strong>返回</strong></a>
            <button v-on:click="Next()" type="button" class="next text-white">下一步</button>
        </div>
    </div>
</div>
@section TopCSS{
<style>
    .title{
    background: url(https://a0.muscache.com/im/pictures/Hosting/Gradient/original/4abb91ab-2c70-46d7-80a5-9c83ef0221ef.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    position: fixed;
    left:0;
    }
    .title h1{
        margin: auto;
        text-align: center;
        font-size: 40px;
    }

    .right{
        width: 100%;
        height: 60vh;
        position: fixed;
        right: 0;
        bottom: -10vh;
    
        background-color: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .btngroup{
        width: 100%;
        position: fixed;
        top:0;
        right: -50%;
        background-color: transparent;
        padding-top: 20px;
        padding-bottom: 20px; 
        justify-content: flex-end;
        z-index: 0;
    }
    .btn-h {
        text-decoration: none;
        color: black;
        width: 20%;
        background-color: #F0F0F0;
        border-radius: 20px;
        border: none;
        margin: 10px;
        padding: 5px 10px;
        transition-duration: 1s;
        font-size: 10px;
    }
    .btn-h:hover {
        color: white;
        background-color: red;
    }

    .last-bar{
        position: fixed;
        width: 100%;
        right:0;
        bottom:0;   
        background-color: white;
        padding: 20px;
        border-top: 2px solid #F0F0F0;
        display: flex;
        justify-content: space-between;
    }

    .back {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        width: 20vh;
        position: relative;
        top: 0;
        left: 0;
        border-radius: 10px;
        background-color: #D0D0D0;
        border: none;
        transition-duration: 1s;
    }

    .back:hover {
        background-color: black;
        color: white;
    }

    .next{
        position: relative;
        right:0;
        top:0;
        padding:10px 15px;
        width: 20vh;
        border-radius:10px;
        border: none;
        background-color: black;
    }

    ::-webkit-scrollbar {
    width: 0px;
    }

    .floor-plan {
        position: relative;
        top: 8vh;
        margin-left: 30px;
        width: 100%;
        overflow-y: scroll;
        height: 50%;
    }

    .numpeople {
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }

    .number {
        display: flex;
        width: 30vh;
    }

    .operationreduce {
        width: 40px;
        height: 40px;
        font-size: 18px;
        margin-top: 6px;
        vertical-align: bottom;
        border-radius: 100%;
        border: 1px solid #ADADAD;
        background-color: white;
    }

    .operationreduce:hover{
        border: 1px solid black;
    }
    .operationadd:hover{
        border: 1px solid black;
    }

    .operationadd {
        width: 40px;
        height: 40px;
        font-size: 18px;
        margin-top: 6px;
        vertical-align: bottom;
        border-radius: 100%;
        border: 1px solid #ADADAD;
        background-color: white;
    }

    .num {
        box-sizing: border-box;
        height: 40px;
        width: 60px;
        font-size: 18px;
        text-align: center;
        border: none;
    }

    .bednum {
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }

    .bedroomnum {
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }

    .bathroomnum {
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }

    .form-check{
        width: 80%;
    }

    .form-check-input:checked {
        background-color: black;
        border-color: black;
    }

    .form-check-input:focus {
        box-shadow: rgba(58, 61, 65, 0.25) 0px 0px 0px 0.25rem;
    }

</style>
<style media="screen and (min-width:744px)">
    .title{
        width: 50%;
        height: 100vh;
        align-items: center;
    }   
    .title h1{
        font-size: 50px;
    }
    .right{
        width: 50%;
        height: 100vh;
        bottom: 0;
        overflow: scroll;
    }

    .btngroup{
        right:-25%;
        width: 50%;
        background-color: white;
    }

    .btn-h{
        height: 35px;
        margin: 10px;
        padding: 5px 15px;
    }

    .last-bar{
        width: 50%;
    }

    .floor-plan {
        position: fixed;
        top: 18vh;
        margin-left: 50px;
        width: 45%;
        height: 400px;
    }

    .form-check{
        width: 90% ;
    }
</style>
}

@section EndJS{
    @*<script>
        window.onload=()=>{
            document.querySelector("#btnreduce").disabled=true;
            document.querySelector("#btn2reduce").disabled=true;
            document.querySelector("#btn3reduce").disabled=true;
            document.querySelector("#btn4reduce").disabled=true;
        }
        function btnAdd() {
            var value = document.getElementById("num").value;
            value = Number(value) + 1;
            document.getElementById("num").value = value;
            document.querySelector("#btnreduce").disabled=false;

            if (value > 1) {
                
                document.querySelector("#btnreduce").disabled=false;
            }
            if(value >= 16){
                document.querySelector("#btnadd").disabled=true;
            }
            
        }

        function btnReduce() {
            var value = Number(document.getElementById("num").value);
            document.querySelector("#btnadd").disabled=false;

            if (value <= 2) {
                document.querySelector("#btnreduce").disabled=true;
                value -= 1;
                
            }
            else {
                value -= 1;
            }

            document.getElementById("num").value = value;
        }

        function btn2Add() {
            var value = document.getElementById("num2").value;
            value = Number(value) + 1;
            document.getElementById("num2").value = value;
            document.querySelector("#btn2reduce").disabled=false;

            if (value > 1) {
                
                document.querySelector("#btn2reduce").disabled=false;
            }
            if(value >= 50){
                document.querySelector("#btn2add").disabled=true;
            }
        }

        function btn2Reduce() {
            var value = Number(document.getElementById("num2").value);
            document.querySelector("#btn2add").disabled=false;

            if (value <= 2) {
                document.querySelector("#btn2reduce").disabled=true;
                value -= 1;
                
            }
            else {
                value -= 1;
            }

            document.getElementById("num2").value = value;
        }

        function btn3Add() {
            var value = document.getElementById("num3").value;
            value = Number(value) + 1;
            document.getElementById("num3").value = value;
            document.querySelector("#btn3reduce").disabled=false;

            if (value > 1) {
                
                document.querySelector("#btn3reduce").disabled=false;
            }
            if(value >= 50){
                document.querySelector("#btn3add").disabled=true;
            }
        }

        function btn3Reduce() {
            var value = Number(document.getElementById("num3").value);
            document.querySelector("#btn3add").disabled=false;

            if (value <= 2) {
                document.querySelector("#btn3reduce").disabled=true;
                value -= 1;
                
            }
            else {
                value -= 1;
            }

            document.getElementById("num3").value = value;
        }

        function btn4Add() {
            var value = document.getElementById("num4").value;
            value = Number(value) + 1;
            document.getElementById("num4").value = value;
            document.querySelector("#btn4reduce").disabled=false;

            if (value > 1) {
                
                document.querySelector("#btn4reduce").disabled=false;
            }
            if(value >= 50){
                document.querySelector("#btn4add").disabled=true;
            }
        }

        function btn4Reduce() {
            var value = Number(document.getElementById("num4").value);
            document.querySelector("#btn4add").disabled=false;

            if (value <= 2) {
                document.querySelector("#btn4reduce").disabled=true;
                value -= 1;
                
            }
            else {
                value -= 1;
            }

            document.getElementById("num4").value = value;
        }

        document.querySelector(".next").onclick = function(){
            location.href = "https://shichyilim.github.io/Project/amenities.html";
        }
    
    </script>*@
    <script>
        let app = new Vue({
            el:"#app",
            data:{
                Bed: 1,
                GuestCount: 1,
                BedRoom: 1,
                Bath: 1,
                max:50,
                min:1,

            },
            methods:{
                addGuestCount() {
                      if (this.GuestCount < this.max) this.GuestCount++;
                },
                subGuestCount() {
                      if (this.GuestCount > this.min) this.GuestCount--;
                },
                addBed() {
                      if (this.Bed < this.max) this.Bed++;
                },
                subBed() {
                      if (this.Bed > this.min) this.Bed--;
                },
                addBedRoom() {
                      if (this.BedRoom < this.max) this.BedRoom++;
                },
                subBedRoom() {
                      if (this.BedRoom > this.min) this.BedRoom--;
                },
                 addBath() {
                      if (this.Bath < this.max) this.Bath++;
                },
                subBath() {
                      if (this.Bath > this.min) this.Bath--;
                },

                Next(){
                    const Bed = this.Bed
                    const GuestCount = this.GuestCount
                    const BedRoom = this.BedRoom
                    const Bath = this.Bath

                    var obj = JSON.parse(sessionStorage['currentRoom'])
                    Object.assign(obj,{'GuestCount':GuestCount,'Bed':Bed,'BedRoom':BedRoom,'Bath':Bath})
                    sessionStorage.removeItem('currentRoom');
                    sessionStorage.setItem('currentRoom',JSON.stringify(obj))

                    window.location ='amenities';
                }
            }
        }) 
    </script>
}