<div class="d-flex justify-content-center" id="app">
    <div class="title">
        <h1 class="text-white"><strong>房源的位置在哪裡？</strong></h1>
    </div>
    <div class="right" >
        <div class="d-flex">
            <div class="btngroup">
                <a href="~/BecomeHost/Index" class="btn-h"><strong>退出</strong></a>
            </div>
        </div>
        <img src="https://maps.googleapis.com/maps/api/staticmap?size=405x821&zoom=12&center=23.5,121&scale=1&&client=gme-airbnbinc&channel=monorail-prod&signature=btoy9uKdyO12XQLtN_3KkGyG2fg%3D"
            alt="" class="mapic">
        <div class="verifyaddress scrollspy-example" data-bs-scroll="scroll">
            <div class="headline">
                <button style="margin:10px;border:none; background-color: white; vertical-align: middle;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                </button>
                <p style="margin-left:25vh; margin-top: 18px; font-size: 18px;"><strong>確認你的地址</strong></p>
            </div>
            <div class="form mt-1">
                <div class="form-floating">
                    <input v-model="Address" type="text" class="form-control" id="address" :class="{'is-invalid':Check.AddressInput}" />
                    <label for="floatingInput">街道地址</label>
                    <div class="text-danger small mt-1">
                        {{Check.AddressErrorMsg}}
                    </div>
                </div>
                <div class="form-floating">
                    <input v-model="City" type="text" class="form-control" id="city" :class="{'is-invalid':Check.CityInput}" />
                    <label for="floatingInput">城市</label>
                    <div class="text-danger small mt-1">
                        {{Check.CityErrorMsg}}
                    </div>
                </div>
                <div class="form-floating">
                    <input v-model="State" type="text" class="form-control" id="state" :class="{'is-invalid':Check.StateInput}" />
                    <label for="floatingInput">州/省</label>
                    <div class="text-danger small mt-1">
                        {{Check.StateErrorMsg}}
                    </div>
                </div>
                <div class="form-floating">
                    <input v-model="ZipCode" type="text" class="form-control" id="zipcode" :class="{'is-invalid':Check.ZipCpdeInput}" />
                    <label for="floatingInput">郵遞區號</label>
                    <div class="text-danger small mt-1">
                        {{Check.ZipCodeErrorMsg}}
                    </div>
                </div>
            </div>
            @*<div class="specific-location d-flex p-4">
                <div class="d-block">
                    <p style="line-height: 1px;"><strong>顯示具體位置</strong></p>
                    <p style="padding-right: 35px; font-size: 13px; line-height: 18px; color: #8E8E8E;">清楚讓房客知道房源的位置。<a href="" style="color:#8E8E8E">在房客預訂之前，我們絕不會分享房源地址。</a></p>
                </div>
                <div class="toggle">
                    <label class="switch ">
                        <input type="checkbox" class="default">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="map" style="padding:0px 5px 50px 5px;background-color: white;">
                <div id="googleMap" style="height:100%;padding:-10px;"><iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.4795744016324!2d120.97830871418901!3d24.81326805326004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346835d0e0aa74b5%3A0x1fd58c1b4b5ee0dc!2zMzAw5paw56u55biC5p2x5Y2A6Ieq55Sx6LevNzHomZ8!5e0!3m2!1szh-TW!2stw!4v1654976629634!5m2!1szh-TW!2stw"
                        width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
            <div class="btn-good">
                <button type="button" class="btn btn-dark " style="margin-top:25px;margin-left: 20px;" id="lookgood">看起來很棒</button>
            </div>*@  
        </div>
        <div class="last-bar">
            <a href="~/BecomeHost/privacy_type" class="back"><strong>返回</strong></a>
            <button v-on:click="Next()" type="button" class="next text-white" id="next" :style="checkedStyle" v-bind:disabled="addVerify">下一步</button>
        </div>
    </div>
</div>

@section TopCSS{
<style>
    .title {
        background: url(https://a0.muscache.com/im/pictures/Hosting/Gradient/original/4abb91ab-2c70-46d7-80a5-9c83ef0221ef.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 60vh;
        display: flex;
        justify-items: center;
        align-items: center;
        position: fixed;
        left:0;

    }

    .title h1 {
        margin: auto;
        font-size: 50px;
        color: white;
    }

    .right {
        width: 100%;
        height: 60vh;
        position: fixed;
        right: 0;
        bottom: -5vh;
        background-color: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: scroll;
    }


    .btngroup {
        position: fixed;
        top:0;
        right:-50%;
        justify-content: flex-end;
        width: 100%;
        background-color: transparent;
        z-index: 0;
    }

    .btn-h {
        text-decoration: none;
        color: black;
        width: 20%;
        background-color: #F0F0F0;
        border-radius: 20px;
        border: none;
        margin: 10px;
        padding: 5px 10px;
        transition-duration: 1s;
        font-size: 10px;
    }
    .btn-h:hover {
        color: white;
        background-color: red;
    }

    .last-bar {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        right:0;
        bottom:0;   
        background-color: white;
        border-top: 2px solid #F0F0F0;
        z-index: 1;
    }

    .back {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        width: 20vh;
        position: relative;
        top: 0;
        left: 15px;
        border-radius: 10px;
        background-color: #D0D0D0;
        border: none;
        transition-duration: 1s;
        padding: 10px 15px;
    }

    .back:hover {
        background-color: black;
        color: white;
    }


    .next {
        position: relative;
        right:10px;
        top:0;
        padding:10px 15px;
        width: 20vh;
        border-radius:10px;
        border: none;
        background-color:#D0D0D0;
    }

    .mapic {
        position: fixed;
        object-fit: cover;
        width: 100%;
        height: 100vh;
        z-index: -2;
        overflow: scroll;
        display: none;
    }

    .verifyaddress {
        position: relative;
        width: 100%;
        /* margin: 80px auto; */
        z-index: 1;
        background-color: white;
        border-radius: 20px;
        height: 80vh;
        overflow: scroll;
        padding-bottom: 120px;

    }

    ::-webkit-scrollbar {
        width: 5px;
        }

    .headline{
        display: flex;
        background-color: white;
        width: 100%;
        height: 10vh;
        position: fixed;
        top:40vh;
        z-index: 5;
        border-radius: 15px;
    }

    .form {
        padding: 25px;
        padding-top: 50px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

    }

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input.default:checked+.slider {
        background-color: #444;
    }

    input.primary:checked+.slider {
        background-color: #2196F3;
    }

    input.success:checked+.slider {
        background-color: #8bc34a;
    }

    input.info:checked+.slider {
        background-color: #3de0f5;
    }

    input.warning:checked+.slider {
        background-color: #FFC107;
    }

    input.danger:checked+.slider {
        background-color: #f44336;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .btn-good{
        position: fixed;
        z-index:5;
        bottom:70px;
        height: 15vh;
        width: 100%;
        background-color: white;
    }
</style>
<style media="screen and (min-width:744px)">
    .title { 
        width: 50%;
        height: 100vh;
    }


    .right {
        width: 50%;
        height: 100%;
        bottom: 0;
        overflow: hidden;
    }


    .btngroup {
        width: 50%;
        right:-25%;
    }


    .last-bar {
        width: 50%;
    }


    .mapic {
        display: block;
    }

    .verifyaddress {
        width: 80%;
        margin: 80px auto;
        height: 70vh;
        padding-bottom: 80px;

    }

    .headline{
        width: 40%;
        height: 14vh;
        top: 70px;
    }

    .form {
        padding-top: 80px;
    }

    .btn-good{
        width: 40%;
    }
    
</style>

}
@section EndJS{
@*<script>
    var btnNext = document.querySelector('#next')
    var Address = document.querySelector('#address')
    var City = document.querySelector('#city')
    var State = document.querySelector('#state')
    var ZipCode = document.querySelector('#zipcode')
    if(Address.value != '' && City.value != '' && State.value != '' && ZipCode.value != '')
    {
        btnNext.style.backgroundColor = 'black'
        btnNext.style.disabled = false
        btnNext.location = 'floor_plan'
    }
</script>*@
<script>
    let app = new Vue({
        el:"#app",
        data:
        {
            Address:'',
            City:'',
            State:'',
            ZipCode:'',
            Check:{
                AddressInput:false,
                AddressErrorMsg:'',
                CityInput:false,
                CityErrorMsg:'',
                StateInput:false,
                StateErrorMsg:'',
                ZipCpdeInput:false,
                ZipCodeErrorMsg:''
            },
            addVerify: true
        },
        watch:{
            Address:{
                immediate: true,
                handler: function(){
                    if(this.Address == '')
                    {
                        this.Check.AddressInput = true
                        this.Check.AddressErrorMsg = '不得为空' 
                    }
                    else
                    {
                        this.Check.AddressInput = false
                        this.Check.AddressErrorMsg = ''
                    }
                    this.checkAddVerify()
                }   
            },
            City:{
                immediate: true,
                handler: function(){
                    if(this.City == '')
                    {
                        this.Check.CityInput = true
                        this.Check.CityErrorMsg = '不得为空' 
                    }
                    else
                    {
                        this.Check.CityInput = false
                        this.Check.CityErrorMsg = ''
                    }
                    this.checkAddVerify()
                }   
            },
            State:{
                immediate: true,
                handler: function(){
                    if(this.State == '')
                    {
                        this.Check.StateInput = true
                        this.Check.StateErrorMsg = '不得为空' 
                    }
                    else
                    {
                        this.Check.StateInput = false
                        this.Check.StateErrorMsg = ''
                    }
                    this.checkAddVerify()
                }   
            },
            ZipCode:{
                immediate: true,
                handler: function(){
                    if(this.ZipCode == '')
                    {
                        this.Check.ZipCodeInput = true
                        this.Check.ZipCodeErrorMsg = '不得为空' 
                    }
                    else
                    {
                        this.Check.ZipCodeInput = false
                        this.Check.ZipCodeErrorMsg = ''
                    }
                    this.checkAddVerify()
                }   
            }
                
        },
        computed: {
            checkedStyle() {
                return {
                    backgroundColor: this.addVerify ? '#D0D0D0' : 'black',
                }   
            }
        },
        methods:{
            checkAddVerify(){
                for(let prop in this.Check)
                {
                    if(this.Check[prop] == true)
                    {
                        this.addVerify = true
                        return
                    }
                    this.addVerify = false;
                }
            },
            Next(){
                const Address = this.Address
                const City = this.City
                const State = this.State
                const ZipCode = this.ZipCode
                    
                var obj = JSON.parse(sessionStorage['currentRoom'])
                Object.assign(obj,{'Address':Address,'City':City,'District':State,'ZipCode':ZipCode})
                sessionStorage.removeItem('currentRoom');
                sessionStorage.setItem('currentRoom',JSON.stringify(obj))
                window.location = 'floor_plan';
            }
        }
    })
</script>   
}