
<div class="d-flex justify-content-center">
    <div class="title">
        <h1 class="text-white"><strong>房客會住哪種空間？</strong></h1>
    </div>
    <div class="right">
        <div class="d-flex">
            <div class="btngroup">
                <a href="~/BecomeHost/Index" class="btn-h"><strong>退出</strong></a>
            </div>
        </div>
        <div class="property-type-group" >
            <button v-on:click="SendValue(0)" type="button" class="type" id="complete-set" >
                <p class="grouptitle"><strong>整套房源</strong></p>
            </button>
            <button v-on:click="SendValue(1)" type="button" class="type" id="detached-room">
                <p class="grouptitle"><strong>獨立房間</strong></p>
            </button>
            <button v-on:click="SendValue(2)" type="button" class="type" id="shared-room">
                <p class="grouptitle"><strong>合住房間</strong></p>
            </button>
        </div>
        <div class="last-bar">
            <a href="/BecomeHost/property_type" class="back"><strong>返回</strong></a>
            <button type="button" class="next text-white" id="next">下一步</button>
        </div>
    </div>
</div>


@section TopCSS{
    <style>
        .title{
            background: url(https://a0.muscache.com/im/pictures/Hosting/Gradient/original/4abb91ab-2c70-46d7-80a5-9c83ef0221ef.png) no-repeat;
            background-size: cover;
            width: 100%;
            height: 60vh;
            display: flex;
            position: fixed;
            left:0;

        }
        .title h1{
            margin: auto;
            text-align: center;
            font-size: 40px;
        }

        .right{
            width: 100%;
            height: 60vh;
            position: fixed;
            right: 0;
            bottom: -10vh;
            /* overflow: scroll; */
            background-color: white;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .property-type-group{
            overflow: scroll;
            width: 100%;
            height: 30vh;
            margin-top: 5vh;
            margin-left: 10vh;
            margin-bottom: 70vh;
        }
        
        .type{
            width: 70%;
            margin: 20px;
            display:block;
            display:flex;
            justify-content:space-between;  
            padding: 10px 30px;
            border-radius: 10px;
            border: 1px solid #D0D0D0;
            background-color: transparent;
        }

        .type:focus{
            border:2px solid black; 
        }

        .type:hover{
            border:2px solid black; 
        }

        .property-type-group img{
            width: 60px;
            vertical-align: middle;
            border-radius: 5px;
        }

        .property-type-group p{
            margin:15px 0px;
            
        }

        .btngroup{
            width: 100%;
            position: fixed;
            top:0;
            right: -50%;
            background-color: transparent;
            padding-top: 20px;
            padding-bottom: 20px; 
            justify-content: flex-end;
            z-index: 0;
        }
        .btn-h{
            text-decoration:none;
            color:black;
            width: 20%;
            background-color: #F0F0F0;
            border-radius: 20px;
            border:none;
            margin: 10px;
            padding: 5px 10px;
            font-size: 10px;
        }

        .last-bar{
            position: fixed;
            width: 100%;
            right:0;
            bottom:0;   
            background-color: white;
            padding: 20px;
            border-top: 2px solid #F0F0F0;
            display: flex;
            justify-content: space-between;
        }

        .back {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;
            width: 20vh;
            position: relative;
            top: 0;
            left: 0;
            border-radius: 10px;
            background-color: #D0D0D0;
            border: none;
            transition-duration: 1s;
        }

        .back:hover {
            background-color: black;
            color: white;
        }

        .next {
            position: relative;
            right: 0;
            top: 0;
            padding: 10px 15px;
            width: 20vh;
            border-radius: 10px;
            border: none;
            background-color: #D0D0D0;
            transition-duration: 1s;
        }

        ::-webkit-scrollbar {
        width: 0px;
        }
    </style>
    <style media="screen and (min-width:744px)">
        .title{           
            width: 50%;
            height: 100vh; 
            align-items: center;

        }
        .title h1{
            text-align: center;
            font-size: 50px;
        }

        .right{
            width: 50%;
            height: 100vh;
            bottom: 0;
            
        }

        .property-type-group{
            height: 60vh;
            margin-top: 18vh;
            
        }
        
        .type{
            height: 15vh;
            width: 80%;
            align-items: center;
            justify-content:left;   
        }

        .grouptitle{
            width: 30%;
            padding-right:20px;
            /* margin-right: 10px; */
        }

        .property-type-group p{
            margin:10px 0px;
            text-align:start;
            
        }

        .btngroup{
            right:-25%;
            width: 50%;
            background-color: white;
        }
        .btn-h{
            text-decoration:none;
            color:black;
            height: 35px;
            padding: 5px 15px;
        }

        .last-bar{
            width: 50%;
        }
    </style>
}

@section EndJS{
    <script>

        const btn = document.getElementById('next');
        window.onload = function(){
                btn.style.backgroundColor = "#D0D0D0";
            };

        document.getElementById("complete-set").onclick = function(){
                btn.style.backgroundColor = "black";
                btn.onclick = function(){
            location.href = "@Url.Action("location","BecomeHost")" ;  
            }};
        
        document.getElementById("detached-room").onclick = function(){
                btn.style.backgroundColor = "black";
                btn.onclick = function(){
            location.href ="@Url.Action("location","BecomeHost")" ;  
            }};

        document.getElementById("shared-room").onclick = function(){
                btn.style.backgroundColor = "black";
                btn.onclick = function(){
            location.href = "@Url.Action("location","BecomeHost")" ;  
            }};
    </script>
}