

<div class="d-flex justify-content-center" id="app">
    <div class="title">
        <h1 class="text-white"><strong>下列哪項最能確切描述你的房源？</strong></h1>
    </div>
    <div class="right">
        <div class="d-flex">
            <div class="btngroup">
                <a class="btn-h" href="~/BecomeHost/Index"><strong>退出</strong></a>
            </div>
        </div>
        <div class="property-type-group" >
            <button v-for="roomType in roomTypeList" v-on:click="SendValue(roomType.roomTypeId)" type="button" class="type" :id="roomType.roomTypeId">
                <p class="grouptitle"><strong>{{ roomType.roomTypeName }}</strong></p>
            </button>

              
        </div>
        <div class="last-bar">
            <a href="/BecomeHost/property_type_group" class="back"><strong>返回</strong></a>
            <button v-on:click="Next()" type="button" class="next btn-dark" id="next" :style="checkedStyle" v-bind:disabled="addVerify">下一步</button>
        </div>
    </div>
</div>

@section TopCSS{
    <style>
        .title{
            background: url(https://a0.muscache.com/im/pictures/Hosting/Gradient/original/4abb91ab-2c70-46d7-80a5-9c83ef0221ef.png) no-repeat;
            background-size: cover;
            width: 100%;
            height: 60vh;
            display: flex;
            position: fixed;
            left:0;

        }
        .title h1{
            margin: auto;
            text-align: center;
            font-size: 40px;
        }

        .right{
            width: 100%;
            height: 60vh;
            position: fixed;
            right: 0;
            bottom: -10vh;
            background-color: white;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .property-type-group{
            overflow: scroll;
            width: 100%;
            height: 30vh;
            margin-top: 5vh;
            margin-left: 10vh;
            margin-bottom: 70vh;
        }
        
        .type{
            width: 70%;
            margin: 20px;
            display:block;
            display:flex;
            justify-content:space-between;  
            padding: 10px 30px;
            border-radius: 10px;
            border: 1px solid #D0D0D0;
            background-color: transparent;
        }

        .type:focus{
            border:2px solid black; 
        }

        .type:hover{
            border:2px solid black; 
        }

        .property-type-group img{
            width: 60px;
            vertical-align: middle;
            border-radius: 5px;
        }

        .property-type-group p{
            margin:15px 0px;
            
        }

        .btngroup{
            width: 100%;
            position: fixed;
            top:0;
            right: -50%;
            background-color: transparent;
            padding-top: 20px;
            padding-bottom: 20px; 
            justify-content: flex-end;
            z-index: 0;
        }
        .btn-h {
            text-decoration: none;
            color: black;
            width: 20%;
            background-color: #F0F0F0;
            border-radius: 20px;
            border: none;
            margin: 10px;
            padding: 5px 10px;
            transition-duration: 1s;
            font-size: 10px;
        }
        .btn-h:hover {
            color: white;
            background-color: red;
        }

        .last-bar{
            position: fixed;
            width: 100%;
            right:0;
            bottom:0;   
            background-color: white;
            padding: 20px;
            border-top: 2px solid #F0F0F0;
            display: flex;
            justify-content: space-between;
        }

        .back {
            display: flex;
            align-items: center;
            justify-content : center;
            text-decoration: none;
            color: white;
            width: 20vh;
            position: relative;
            top: 0;
            left: 0;
            border-radius: 10px;
            background-color: #D0D0D0;
            border: none;
            transition-duration: 1s;
        }
        .back:hover {
            background-color: black;
            color: white;
        }

        .next {
            position: relative;
            right: 0;
            top: 0;
            padding: 10px 15px;
            width: 20vh;
            border-radius: 10px;
            border: none;
            background-color: #D0D0D0;
            transition-duration: 1s;
        }

        ::-webkit-scrollbar {
        width: 0px;
        }

    </style>
    <style media="screen and (min-width:744px)">
        .title{
            width: 50%;
            height: 100vh;
            align-items: center;

        }
        .title h1{
        
            font-size: 50px;
        }

        .right{
            width: 50%;
            height: 100vh;
            bottom: 0;
            
        }
        ::-webkit-scrollbar {
        width: 0px;}

        .property-type-group{
            height: 60vh;
            margin-top: 18vh;
            
        }
        
        .type{
            height: 15vh;
            width: 80%;
            align-items: center;
            justify-content:left;             
        }

        .grouptitle{
            width: 30%;
            padding-right:20px;
    
        }

        .property-type-group p{
            margin:10px 0px;
            text-align:start;
            
        }

        .btngroup{
            width: 50%;
            background-color: white;
            z-index: 0;
            right:-25%;
        }
        .btn-h{
            text-decoration:none;
            color:black;
            height: 35px;
            transition-duration:1s;
        }

        .last-bar{
            display: flex;
            width: 50%;
            right:0;
            bottom:0;   
        }

    </style>
}

@section EndJS{

<script>
let app = new Vue({
    el:'#app',
    data:{
        value: {
            RoomTypeId: 0,
        },
        roomTypeId: 0,
        addVerify:true,
        roomTypeList: [],
    },
    mounted() {
        document.addEventListener('DOMContentLoaded', function() {
            var obj = JSON.parse(sessionStorage.getItem("currentRoom"))
            axios.get('/api/PublishRoomAPI/GetRoomType/' + obj.roomTypeGroupId)
                .then((res) => {
                    console.log(res)
                    if (res.data.status === 20000) {
                        app.roomTypeList = res.data.result
                        console.log(app.roomTypeList)
                    }
                })
        });
        if (sessionStorage['roomTypeId']) {
            this.SendValue(sessionStorage['roomTypeId'])
        }
    },
    computed: {
        checkedStyle() {
            return {
                backgroundColor: this.addVerify ? '#D0D0D0' : 'black',
            }
        }
    },
    methods: {
        SendValue(value){
            console.log(value),
            this.addVerify = false
            this.value.RoomTypeId = value
            this.roomTypeId = value
        },
        Next(){
            const Id = this.roomTypeId
            var obj = JSON.parse(sessionStorage['currentRoom'])
            Object.assign(obj,{'roomTypeId':Id})
            sessionStorage.removeItem('currentRoom');
            sessionStorage.setItem('currentRoom',JSON.stringify(obj))
            window.location = 'privacy_type';
       
        }

    //    CreateRoom(){
    //        axios.post('/api/PublishRoomAPI/Create', this.value)
    //        .then((res) =>
				//{
				//	console.log(res)
				//	if(res.data.status === 20000)
				//	{
				//		toastr.success('新增成功')
    //                    const Id = this.roomTypeId
    //                    sessionStorage['roomTypeId'] = Id;
    //                    sessionStorage['room'] = JSON.stringify( res.data.result;

    //                    window.location = 'privacy_type';
				//	}
				//	else
    //                {
				//		toastr.error('新增失敗')
				//	}
				//})
    //        }
                
    }  
})

</script>
}