@{
ViewData["Title"] = "Home Page";
}
@model IndexVM

<div class="container">
    <h2 class="sup-title">熱門地點 :</h2>
    <div class="exclusives">
        @foreach(var item in Model.CityCards){
            <a href="~/Rooms/roomlist/@item.CityName">
                <div class="item">
                    <img src="@item.ImgUrl" alt="">
                    <span>
                        <h3>@item.CityName</h3>
                        <p>Starts $@item.Price</p>
                    </span>
                </div>
            </a>
        }
    </div>


    
    <h2 class="sup-title">旅遊故事</h2>
    <div class="stories">
        <div>
            <img src="https://images.pexels.com/photos/2771818/pexels-photo-2771818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">

            <p> 熱血環島的故事</p>
        </div>
        <div>
            <img src="https://images.pexels.com/photos/1717937/pexels-photo-1717937.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">

            <p> 台北101的起源 </p>
        </div>
        <div>
            <img src="https://images.pexels.com/photos/4980097/pexels-photo-4980097.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <p>在澎湖旅行時獲得最棒的體驗</p>
        </div>
    </div>
    <a href="~/Rooms/roomlist" class="start-btn">開始旅程</a>

    <div class="about-msg">
        <h2>About Whoochu <img src="~/images/whoochu.red.png" class="logo" alt=""></h2>
        <div>
            Whoochu努力不懈創造各種國內外客製化行程與獨家旅遊體驗；主題團旅、背包客、自由行、親子、樂齡、蜜月、閨密、畢業旅行、商務、渡假會議、員旅、公司獎勵、包團、包機...各種旅遊服務一應具全。<br>
            <br>
            <br>
            企業永續
            Corporate Sustainability
            ESG (Environmental, Social, Governance)為全球重要趨勢，

            Whoochu 已將「企業社會責任」做為 經營整體的核心思維，

            不僅提供優質旅程，從關懷人文、守護自然環境，做為首先實質行動，落實創造更美好的社會為宗旨。

            社會公益 • 環境永續
            Whoochu 主動配合社會需求，或透過內部主動發起，

            除了長期回饋社會之外，更提倡員工一同參與， 提升社會共榮的主軸。
        </div>
        <br>
        <br>
        <div>
            成立以來一直秉持「用心服務 用情導遊」的理念，服務每一位參加的旅客，建立起暢遊 旅行社的好口碑。專業態度和用心服務，得到許多顧客的好評。 專業‧創新‧用心是我們對顧客的承諾，提供最完善的旅遊資訊。總公司分成各個部門，規劃國內外豐富行程，以符合各消費族群的需求。此外，商務旅遊、渡假會議、員工旅遊、公司行號獎勵旅遊，暢遊旅行社也都能量身規劃，高品質的保證與親切服務，滿足顧客得到肯定；是我們一直努力不懈的目標。 服務精神 用心：凡事要用心 專心：專心學習你的業務 企圖心：契而不捨的精神 加同理心：為客戶著想為出發點
        </div>
    </div>
</div>
