<div class="banner">
    <div class="hostDetail">
        <img src="https://raw.githubusercontent.com/Neil-Yang3759/Neil-Yang3759.github.io/main/JS/HW1/selfie.jpg"
            width="150">
        <div class="aboutme-rwd">
            <h1>嗨！我是楊胤承</h1>
            <p>加入時間：2015</p>
            <h3>關於我</h3>
            <p><i class="fa-solid fa-house"></i>住在中華大學, 台灣</p>
        </div>
        <div class="showprofile">
            <h3><i class="far fa-star"></i>130則評價</h3>
            <h3><i class="fa-regular fa-circle-check"></i>身分已驗證</h3>
            <hr>
            <h2>Philipe 已確認</h2>
            <p><i class="fa-solid fa-check"></i>身分</p>
            <p><i class="fa-solid fa-check"></i>電子郵件地址</p>
            <p><i class="fa-solid fa-check"></i>電話號碼</p>
        </div>



    </div>

    <div class="hostInfo">
        <div class="aboutme">
            <a href="house.html"><i class="fa-solid fa-angle-left"></i></a>
            <h1>嗨！我是楊胤承</h1>
                
            <p>加入時間：2015</p>
            <h3>關於我</h3>
            <p><i class="fa-solid fa-house"></i>住在中華大學, 台灣</p>
        </div>

        <h2>楊胤承的房源</h2>
        <div class="abouthome">
            <div class="card">
                <img src="~/images/house-2.png">
                <div class="cardinfo">
                    <i class="fas fa-star">4.36</i>
                    <h4>公寓</h4>
                    <p>地點 : 110台北市信義區松壽路2號</p>
                </div>
            </div>
            <div class="card">
                <img src="~/images/house-4.png">
                <div class="cardinfo">
                    <i class="fas fa-star">4.6</i>
                    <h4>透天</h4>
                    <p>地點 : 300新竹市香山區五福路二段707號</p>
                </div>
            </div>
            <div class="card">
                <img src="~/images/house-5.png">
                <div class="cardinfo">
                    <i class="fas fa-star">4.11</i>
                    <h4>小木屋</h4>
                    <p>地點 : 350苗栗縣竹南鎮科專一路1號</p>
                </div>
            </div>
        </div>

        <div class="comment">
            <i class="fas fa-star">130則評價</i>
            <h4>來自房客的評價</h4>
            <div class="customercomment">
                <div class="recommentcard">
                    <h6 class="title">台灣台北 陽印成
                        <p>加入時間 : 2019</p>
                        <p>發布時間 : 6月 2022</p>
                    </h6>

                    <div class="circle">
                        <p>這個島很漂亮，食物很棒（特別是如果你喜歡菲律賓食物），留在島上是一種你會永遠珍惜的體驗。從愛妮島的里奧機場開車大約需要兩個小時，途中可能會有一些崎嶇的地形。非常值得一遊！
                        </p>
                    </div>
                </div>
                <div class="recommentcard">
                    <h6 class="title">台灣台北 陽印成
                        <p>加入時間 : 2019</p>
                        <p>發布時間 : 6月 2022</p>
                    </h6>

                    <div class="circle">
                        <p>這個島很漂亮，食物很棒（特別是如果你喜歡菲律賓食物），留在島上是一種你會永遠珍惜的體驗。從愛妮島的里奧機場開車大約需要兩個小時，途中可能會有一些崎嶇的地形。非常值得一遊！
                        </p>
                    </div>
                </div>
                <div class="recommentcard">
                    <h6 class="title">台灣台北 陽印成
                        <p>加入時間 : 2019</p>
                        <p>發布時間 : 6月 2022</p>
                    </h6>

                    <div class="circle">
                        <p>這個島很漂亮，食物很棒（特別是如果你喜歡菲律賓食物），留在島上是一種你會永遠珍惜的體驗。從愛妮島的里奧機場開車大約需要兩個小時，途中可能會有一些崎嶇的地形。非常值得一遊！
                        </p>
                    </div>
                </div>
                <div class="recommentcard">
                    <h6 class="title">台灣台北 陽印成
                        <p>加入時間 : 2019</p>
                        <p>發布時間 : 6月 2022</p>
                    </h6>

                    <div class="circle">
                        <p>這個島很漂亮，食物很棒（特別是如果你喜歡菲律賓食物），留在島上是一種你會永遠珍惜的體驗。從愛妮島的里奧機場開車大約需要兩個小時，途中可能會有一些崎嶇的地形。非常值得一遊！
                        </p>
                    </div>
                </div>
                <div class="recommentcard">
                    <h6 class="title">台灣台北 陽印成
                        <p>加入時間 : 2019</p>
                        <p>發布時間 : 6月 2022</p>
                    </h6>

                    <div class="circle">
                        <p>這個島很漂亮，食物很棒（特別是如果你喜歡菲律賓食物），留在島上是一種你會永遠珍惜的體驗。從愛妮島的里奧機場開車大約需要兩個小時，途中可能會有一些崎嶇的地形。非常值得一遊！
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
